@model Domain.Dtos.Customers.CreateCustomerDto
<h2 class="mb-4 fw-bold text-center">Create Customer</h2>

<form method="post" class="card p-5" style="display: flex; flex-direction: column; gap: 10px; max-width: 800px; margin: auto">
    <div class="form-group">
        <label asp-for="FullName" class="control-label">Customer full name</label>
        <input asp-for="FullName" class="form-control">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">PhoneNumber</label>
        <input asp-for="PhoneNumber" class="form-control">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Create customer</button>
</form>