@model Domain.Dtos.Customers.UpdateCustomerDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
<div class="card p-5 container mt-5" style="max-width: 800px; margin: auto">
    <h1 style="text-align: center">Edit Customer</h1>

    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label for="FullName" class="form-label">Full name:</label>
            <input type="text" id="FullName" class="form-control" asp-for="FullName" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="PhoneNumber" class="form-label">Price:</label>
            <input type="number" id="PhoneNumber" class="form-control" asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email:</label>
            <input type="text" id="Email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>